{% extends 'theme.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <br>
    <h1>CHECKOUT</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="row g-3">
        <div class="col">
         {{form1.Firstname}}
        </div>
        <div class="col">
          {{form1.Lastname}}
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col">
         {{form1.Emailaddress}}
        </div>
        <div class="col">
         {{form1.phonenumber}}
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col">
          {{form1.Addressline1}}
        </div>
        <div class="col">
         {{form1.Addressline2}}
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col">
          {{form1.country}}
        </div>
        <div class="col">
         {{form1.region}}
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Checkout now</button>
      </form>
      </div>
      <br>
</body>
</html>
{% endblock %}