{% extends 'theme.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>STORE DETAILS</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Item</label>
         {{form.jel_item}}
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Rate</label>
          {{form.jel_rate}}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">image</label>
          {{form.jel_image}}  
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </form>
    </div>
</body>
</html>
{% endblock %}